header {
    text-align: center;
    background-color: darkgray;
    padding: 30px;
    font-size: xx-large;
    font-family: monospace;  
}
nav {
    background: dimgrey;
    padding: 20px;
    height: 300px;
    width: 20%;
}
nav li {
	color: white;
}

article{
  width: 70%;
  padding: 20px;
  height: 300px;
  background: beige;
}
article img {
	
  height: 150px;
  width: 200px;
}
footer {
    text-align: center;
    background-color: darkgray;
    padding: 30px;
    font-family: monospace;  
}